html,body,textarea,div{
    margin: 0;
    padding: 0;
    border: 0;
}
.dialog{
    height: 500px;
    border: 1px #000 solid;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
}
textarea{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    border: 1px #000 solid;
    margin-top: 20px;
    outline-style: none;
}
.submit{
    border: 1px #000 solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 3px;
}