html,body,textarea,div{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #f5f5f5;
}
.container{
    width: 80%;
    height: 50px;
    border: 1px #242424 solid;
    margin-left: 10%;
    border-radius: 30px;
    margin-top: 50%;
    position: relative;
}
.userName{
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}
.nameVal{
    position: absolute;
    left: 85px;
    outline-style: none;
    height: 43px;
    width: 60%;
    line-height: 43px;
    font-size: 20px;
    margin-top: 1px;
    top: 0;
}
.submit{
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px #242424 solid;
    margin-left: 20%;
    border-radius: 30px;
    margin-top: 10%;
    position: relative;
}
.dialog{
    padding-top: 10px;
    height: 500px;
    border: 1px #000 solid;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    overflow-y: auto;
}
#textarea{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    border: 1px #000 solid;
    margin-top: 20px;
    outline-style: none;
    font-size: 20px;
}
.submit_talk{
    float: left;
    border: 1px #000 solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30%;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 3px;
    box-sizing: border-box;
}
.logout{
    float: right;
    border: 1px #000 solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30%;
    margin-top: 20px;
    margin-right: 15%;
    border-radius: 3px;
    box-sizing: border-box;
}
.talkTime{
    display: none;
}
.msgBox{
    width: 100%;
    height: auto;
}
.self{
    float: right;
    max-width: 70%;
    text-align: left!important;
    border-radius: 5px;
    background-color: #3BD4F4;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
    white-space:normal;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
}
.other{
    float: left;
    max-width: 70%;
    text-align: left!important;
    border-radius: 5px;
    background-color: #AEDDE3;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    white-space:normal;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;

}
.robotMsg{
    width: 80%;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 10px;

}